<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" CONTENT="Gabriel Vich">
        <meta name="description" content="Bar y sala de entretenimiento, diversion sin limites">
        <meta name="category" content="Bar">
        <link rel="icon" type="image/jpg" href="../photos/favicon.ico">
        <link rel="stylesheet" href="../Style/css1.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Open+Sans&display=swap" rel="stylesheet">
        <title>Eventos</title>
    </head>
    <body onload="cargar()">
        <header>
            <nav>
                <ul><li><img src="../photos/logo.png" alt="logo"></li>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="productos.html">Cócteles</a></li>
                    <li><a href="presupuestos.html">Reserva</a></li>
                    <li><a href="eventos.html" id="selected">Noticias</a></li>
                    <li><a href="contacto.html">Encuéntranos</a></li>
                </ul>
            </nav>
        </header>
        <main>  
        <div id="eventos">
            <h1>Eventos Proximos</h1>
            <div id="grid">
                <div><h2>Dia de traje</h2>
                <img src="../photos/suits.jpg" alt="Grupo de amigos vestidos en traje">
                <p>El jueves 20/10 Suit up!</p>
            </div>
                <div>
                <h2>Halloween</h2>
                <img src="../photos/halloween.jpg" alt="amigos disfrazados">
                <p>El 31/10 tienes excusa para ser el amo del disfraz!</p>
                </div>
                <div>proximamente</div><div>proximamente</div><div>proximamente</div><div>proximamente</div><div>proximamente</div>
            </div>
        </div>
        <section>   
            <h2>Noticias:</h2>
        <div id="noticias">a</div>
        </section>  
        </main>
        <footer>   
            <h3>Redes sociales</h3>
            <ul>
                <li><a href="contacto.html"><img src="../photos/ig.png" alt="Logo de Instagram" title="Instagram"></a></li>
                <li><a href="contacto.html"><img src="../photos/fb.png" title="Facebook" alt="Logo de Facebook"></a></li>
                <li><a href="contacto.html"><img src="../photos/x.png" title="Twitter" alt="Logo de Twitter"></a></li>
            </ul>
            <br>
            <p>Calle de Alonso Cano, 44, 46, 28003 Madrid.</p>
            <p id="copyright">©2023 Puzzles inc. Todos los derechos reservados</p>
        </footer>
        <script src="../scripts/ajax.js"></script>
    </body>
</html>