<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" CONTENT="Gabriel Vich">
    <meta name="description" content="Bar y sala de entretenimiento, diversion sin limites">
    <meta name="category" content="Bar">
    <link rel="icon" type="image/jpg" href="../photos/favicon.ico">
    <link rel="stylesheet" href="../Style/css1.css">
    <link rel="stylesheet" href="../Style/animacionjquery.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Nuestros cócteles</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><img src="../photos/logo.png" alt="logo"></li>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html" id="selected">Cócteles</a></li>
                <li><a href="presupuestos.html">Reserva</a></li>
                <li><a href="eventos.html">Noticias</a></li>
                <li><a href="contacto.html">Encuéntranos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Nuestros cócteles</h1>
        <p>Les presentamos los cócteles de los que más estamos orgullosos...</p>
        <section id="contenedor">
            <div id="seccion_slider">
            <div class="cajas">
                <img src="../photos/cocktail.jpg" alt="coctel Scherbatsky">
                <div>
                    <h2>El Scherbatsky</h2>
                    <p>
                        El cóctel "Scherbatsky" es una explosión de sabores que te llevará en un viaje exotico en el
                        paladar.
                        Este cóctel es una mezcla audaz y ecléctica, igual que la propia Robin Scherbatsky, que combina
                        la suavidad del ron de coco, Vodka de Vainilla, con la chispeante frescura del licor de
                        frambuesa y un toque de exotismo gracias al zumo de arándanos.
                    </p>
                </div>
            </div>
            <div class="cajas">
                <img src="../photos/cocteles/manhattan.jpg" alt="manhattan">
                <div>
                    <h2>El Manhattan</h2>
                    <p>
                        Los amantes al whisky tienen su cóctel rey: el Manhattan. Elaborado con whisky canadiense y
                        vermú rojo, es perfecto para tomar como aperitivo. Un coctel que denota elegancia en cada nota.
                    </p>
                </div>
            </div>
            <div class="cajas">
                <img src="../photos/cocteles/bloodymary.jpg" alt="bloodymary">
                <div>
                    <h2>Bloody Mary</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum eu libero non
                        tempus. Aenean porta aliquet lectus, et ornare risus tristique eget.
                    </p>
                </div>
            </div>
            <div class="cajas">
                <img src="../photos/cocteles/cosmopolitan.jpg" alt="cosmopolitan">
                <div>
                    <h2>Cosmopolitan</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum eu libero non
                        tempus. Aenean porta aliquet lectus, et ornare risus tristique eget.
                    </p>
                </div>
            </div>
            <div class="cajas">
                <img src="../photos/cocteles/caipirina.jpg" alt="caipiriña">
                <div>
                    <h2>Caipiriña</h2>
                    <p>
                        Duis pulvinar urna nec porttitor vehicula. Quisque ultricies, leo sed tristique euismod, quam
                        turpis tempor velit, nec euismod purus velit eget quam. Curabitur faucibus turpis eget sodales
                        auctor
                    </p>
                </div>
                </div>
                    <div class="cajas">
                        <img src="../photos/cocteles/pinacolada.jpg" alt=" Piña Colada">
                        <div>
                        <h2>Piña Colada</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum eu libero non
                            tempus. Aenean porta aliquet lectus, et ornare risus tristique eget.
                        </p>
                    </div>
                </div>
                <div class="cajas">
                    <img src="../photos/cocteles/martini.jpg" alt="Dry Martini">
                    <div>
                        <h2>Dry Martini</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum eu libero non
                            tempus. Aenean porta aliquet lectus, et ornare risus tristique eget.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <p>Toca el cocktail para saber más sobre el!</p>
    </main>
    <footer>
        <h3>Redes sociales</h3>
        <ul>
            <li><a href="contacto.html"><img src="../photos/ig.png" alt="Logo de Instagram" title="Instagram"></a></li>
            <li><a href="contacto.html"><img src="../photos/fb.png" title="Facebook" alt="Logo de Facebook"></a></li>
            <li><a href="contacto.html"><img src="../photos/x.png" title="Twitter" alt="Logo de Twitter"></a></li>
        </ul>
        <br>
        <p>Calle de Alonso Cano, 44, 46, 28003 Madrid.</p>
        <p id="copyright">©2023 Puzzles inc. Todos los derechos reservados</p>
    </footer>
    <script src="../scripts/animacionjquery.js"></script>
</body>

</html>